.statistics-container{
    margin-top: 20px
}
.table-container{
    margin-top: 20px;

    .bg-gray{
        background: #F6F6F6;
        border: 1px solid #ccc;
        border-bottom: 0;
        padding: 15px 10px;
    }
}