<div>
    <div class="header">
        angular-slickgrid POC 
    </div>
</div>

<div>
<!-- <div class="left-nav"  style="width:20%;float:left;position:relative;">
    <div >
        <ul class="nav nav-pills nav-stacked">
            <li routerLinkActive="active">
                    <a [routerLink]="['/customgrid']">Custom Grid</a>
            </li>
        </ul>
    </div>
</div> -->
    <div id="demo-container" style="width:100%;float:left;position:relative;">
        <router-outlet></router-outlet>
    </div>
</div>
