/* You can add global styles to this file, and also import other style files */
$headerbgcolor : #008000;
$headertextcolor : #FFFFFF;
$margin-top : 0;
$displaymenu : block;
.navbar-custom{
    background-color: $headerbgcolor
}
.navbar-nav a{
    color: $headertextcolor;
}
.dropdown:hover .dropdown-menu {
    display: $displaymenu;
    margin-top: $margin-top;
 }