<div class="container">
 A simple homepage design welcomes your audience to your site, 
 tells them what you want them to do next, and allows them to explore your site in more depth.

You can layer on more complexity, but you don’t want to start with a cluttered mess
 and have to selectively prune it. Always begin with the basics.
  When you begin planning out your homepage design, make sure every element satisfies
   at least one of the following four goals.

You can add complexity to a simple homepage design, but you don’t want to
 start with a cluttered mess and have to selectively prune it. Always begin with the basics.

What do you need on your homepage? What will your audience expect? And which elements take priority?

 A simple homepage design welcomes your audience to your site, 
 tells them what you want them to do next, and allows them to explore your site in more depth.

You can layer on more complexity, but you don’t want to start with a cluttered mess
 and have to selectively prune it. Always begin with the basics.
  When you begin planning out your homepage design, make sure every element satisfies
   at least one of the following four goals.

You can add complexity to a simple homepage design, but you don’t want to
 start with a cluttered mess and have to selectively prune it. Always begin with the basics.

What do you need on your homepage? What will your audience expect? And which elements take priority?

 A simple homepage design welcomes your audience to your site, 
 tells them what you want them to do next, and allows them to explore your site in more depth.

You can layer on more complexity, but you don’t want to start with a cluttered mess
 and have to selectively prune it. Always begin with the basics.
  When you begin planning out your homepage design, make sure every element satisfies
   at least one of the following four goals.

You can add complexity to a simple homepage design, but you don’t want to
 start with a cluttered mess and have to selectively prune it. Always begin with the basics.

What do you need on your homepage? What will your audience expect? And which elements take priority?

 A simple homepage design welcomes your audience to your site, 
 tells them what you want them to do next, and allows them to explore your site in more depth.

You can layer on more complexity, but you don’t want to start with a cluttered mess
 and have to selectively prune it. Always begin with the basics.
  When you begin planning out your homepage design, make sure every element satisfies
   at least one of the following four goals.

You can add complexity to a simple homepage design, but you don’t want to
 start with a cluttered mess and have to selectively prune it. Always begin with the basics.

What do you need on your homepage? What will your audience expect? And which elements take priority?

</div>
